<!DOCTYPE html>
<html>
<head>
    <title>Team Four | E-Commerce Database</title>
</head>
<body>
    <h1>E-Commerce Database Query</h1>
    <form method="POST" action="/results">
        <label for="selection">Select Table:</label>
        <select name="selection">
            <option value="products">Products</option>
            <option value="categories">Categories</option>
            <option value="clothing">Clothing</option>
            <option value="accessories">Accessories</option>
            <option value="customer_account">CustomerAccount</option>
            <option value="vendors">Vendors</option>
            <option value="reviews">Product Reviews</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
