<!DOCTYPE html>
<html>

<head>
    <title>Team Four | E-Commerce Database</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
    
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            {% comment %} height: 100vh; {% endcomment %}
            padding-top: 20vh;
        }
    
        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }
    
        form {
            width: 300px;
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        label {
            display: block;
            margin-bottom: 10px;
        }
    
        select,
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 15px;
        }
    
        .custom-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
    
        .custom-button:hover {
            background-color: #0056b3;
        }
    </style>
    
</head>

<body class="background">
    <div class="container">
        <h2>JUNTOS Apparel Database Query</h2>
        <form method="POST" action="/results">
            <label for="selection">Select Table:</label>
            <select name="selection">
                <option value="products">Products</option>
                <option value="categories">Categories</option>
                <option value="clothing">Clothing</option>
                <option value="accessories">Accessories</option>
                <option value="customerAccount">Customer Account</option>
                <option value="vendors">Vendors</option>
                <option value="reviews">Product Reviews</option>
                <option value="priceUnder50">Products Under $50</option>
                <option value="quantityOver50">Quantity Over 50</option>
                <option value="customerAccountReference">Customer Account References</option>
                <option value="vendorInventoryInfo">Vendor Inventory</option>
                <option value="productCategoryClothing">Clothing Products</option>
                <option value="productCategoryAccessories">Accessories Products</option>
            </select>
            <input type="submit" value="Submit" class="custom-button" id="submit-button">
        </form>
    </div>
    

</body>

</html>