<!DOCTYPE html>
<html>

<head>
    <title>Query Results</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
        {% comment %} Displays "Query Results" followed by the dynamic name selectedTable {% endcomment %}
        <h2>Query Results for <%= selectedTable %> </h2> 
        <div class="table">
            <% if (results.length > 0) { %> {% comment %} executes query if results are returned {% endcomment %} 
                <table border="1"> {% comment %} Creates table structure with border of 1 {% endcomment %}
                    <thead>
                        <tr>
                            <% Object.keys(results[0]).forEach(function(key) { %> {% comment %} Iterates over the key of each object in results array using Object.keys() {% endcomment %} 
                                <th>
                                    <%= key %> {% comment %} Each key creates table header {% endcomment %} 
                                </th>
                                <% }); %>
                        </tr>
                    </thead>
                    <tbody>
                        <% results.forEach(row=> { %>
                            <tr>
                                <% Object.values(row).forEach(function(value) { %>
                                    <td>
                                        <%= value %>
                                    </td>
                                    <% }); %>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <p>No results found.</p>
                    <% } %>
        </div>
</body>
<style>
    table {
        width: 100%;
        border-collapse: collapse;

    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    .table {
        overflow-x: auto;
        padding: 20px;
    }

    tr:hover {
        background-color: #f2f2f2;
    }

    h2,
    table,
    p {
        font-family: roboto, sans-serif;
    }

    h2 {
        padding-top: 20px;
        text-align: center;
    }
</style>

</html>